ACCOUNT_ID=0.0.539...
PRIVATE_KEY=0x751918454b29f80723...
RPC_URL=https://testnet.hashio.io/api

HTK_TOKEN_ADDRESS=
QUOTE_TOKEN_ADDRESS=
QUOTE_TO_HTK_FEE="1500"
DAO_ADMIN_ADDRESS=
TIMELOCK_ADDRESS=
BURN_SINK_ADDRESS=

PAIR_WHITELIST_ADDRESS=
PARAMETER_STORE_ADDRESS=
TREASURY_ADDRESS=
RELAY_ADDRESS=
INITIAL_TRADERS=

WHBAR_TOKEN_ADDRESS=
SWAP_ROUTER_PROXY_V1_ADDRESS=
SWAP_ROUTER_PROXY_V2_ADDRESS=
SAUCERSWAP_V1_ROUTER_ADDRESS=
SAUCERSWAP_V2_ROUTER_ADDRESS=
SWAP_ADAPTER_ADDRESS=
